---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h2>Hello. I'm Mike.</h2>

<h3>Who am I?</h3>
<ul>
  <li>Musician (For fun and compulsion)</li>
  <li>Sound recordist and mixer (For musicians with not much money)</li>
  <li>UX Designer (For pay)</li>
  <li>Dad (For the jokes)</li>
</ul>

<h3>Writing</h3>
<p>Read my <a href="{{ '/blog/' | url }}">Blog</a>. It's static and powered by Eleventy.</p>

<h3>Musical Projects</h3>
<ul>
  <li>Shivering: Industrial and experimental (website soon)</li>
<li><a href="http://variousreasons.com">Various Reasons</a>: minimal wave/industrial</li>
<li><a href="http://anemptyroom.net/">An Empty Room</a>: experimental sludge (defunct)</li>
</ul>
