---
layout: layouts/base.njk
templateClass: container blog listing
permalink: /blog/
---

{% set maxPosts = collections.posts.length | min(3) %}
<h1>Blog</h1>
<div class="post__body">
  {% set postslist = collections.posts  %}
  {% set postslistCounter = collections.posts | length %}
  {% include "postslist.njk" %}
</div>
