---
layout: layouts/base.njk
templateClass: container main main--home
---

<div class="full-content">
  <article class="homeblurb">
    <div class="homeblurb__content">
      {{ content | safe }}
    </div>
  </article>
</div>
